nav ul li #subs {
  padding: 8px 17px 8px 17px;
  border: 1px solid black;
}

.jumbotron {
  padding: 2rem 1rem;
  width: 100%;
  height: 95vh;
}

.jumbotron h1 {
  margin-top: 200px;
  font-weight: bold;
  color: #414141;
}

.jumbotron hr {
  width: 5%;
  margin: auto;
  height: 3px;
  color: #414141;
}

.jumbotron p {
  color: #414141;
}

.banner {
  width: 100%;
  height: 95vh;
  background-image: url("../img/banner-product.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about hr {
  width: 5%;
  margin: auto;
  height: 3px;
  background-color: #414141;
}

#about p {
  margin-top: 5%;
  margin-left: 18%;
  text-align: justify;
  background-color: white;
  width: 70%;
  font-style: italic;
  margin-right: 200px;
}

#articles hr {
  width: 5%;
  margin: auto;
  height: 3px;
  margin-bottom: 3%;
  background-color: #414141;
}

.btn btn-primary {
  margin: auto;
}

footer {
  background-color: white;
  margin-right: 100px;
  float: right;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav ul {
  display: flex;
}

nav ul li a {
  margin-left: 30px;
  color: #505050;
  font-size: 15px;
  font-weight: 700;
}

.card-title {
  font-style: italic;
  font-weight: normal;
}

.card-text {
  font-style: italic;
  font-weight: lighter;
}

#about p {
  font-style: italic;
  font-weight: lighter;
}

#subscribe {
  background-color: #f2f2f2;
  padding: 10% 0% 10% 0%;
}

#subscribe h2,
p {
  text-align: center;
  color: #414141;
}

#subscribe p {
  font-weight: 10px;
}

#subscribe #email {
  padding: 12px; /* Some padding */
  background-color: #e9ece9;
  border: 2px solid white; /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  width: 400px;
  resize: vertical;
}

#subscribe .btn {
  text-align: center;
}

.btn {
  border: 1px solid black;
  color: black;
  padding: 10px 35px;
  font-size: 10px;
  cursor: pointer;
}

.product_section .heading_container {
  margin-bottom: 20px;
}

.detail-box {
  font-size: 20px;
}

.detail-box-u {
  font-size: 20px;
  text-align: left;
}

.detail-box-h {
  font-size: 18px;
}

.product_section .box {
  position: relative;
  margin-top: 25px;
  padding: 35px 35px;
  background-color: #f7f8f9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.2);
  border: solid #fff 10px;
}

.product_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 215px;
}

.product_section .box .img-box img {
  max-width: 100%;
  max-height: 160px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product_section .box .detail-box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product_section .box .detail-box h5 {
  font-size: 18px;
  margin-top: 10px;
}

.product_section .box .detail-box h6 {
  margin-top: 10px;
  color: #002c3e;
  font-weight: 600;
}

.product_section .box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.product_section .box:hover .option_container {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.product_section .option_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.product_section .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product_section .options a {
  display: inline-block;
  padding: 8px 15px;
  width: 165px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 5px 0;
}

.product_section .options .option1 {
  background-color: #8b4513;
  border: 1px solid #deb887;
  color: #ffffff;
}

.product_section .options .option1:hover {
  background-color: transparent;
  color: #8b4513;
}

.product_section .options .option2 {
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
}

.product_section .options .option2:hover {
  background-color: transparent;
  color: #000000;
}

.product_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}

.product_section .btn-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #f7444e;
  border: 1px solid #f7444e;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product_section .btn-box a:hover {
  background-color: transparent;
  color: #f7444e;
}

.page-item.active .page-link {
  z-index: 3;
  color: #8b4513;
  background-color: #deb887;
  border-color: #d2b48c;
}

.page-link {
  color: #8b4513;
  border-color: #d2b48c;
}

/* footer */
#footer-green {
  background-color: #6cbe5e;
}
#footer-green ul {
  list-style-type: none;
  text-align: right;
  margin: 0 30px;
}

#footer-green li {
  display: inline-block;
  margin: 20px 10px;
}

#footer-green li a {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
